
# Arquivos de documentação
README.md
*.md

# Arquivos de configuração do Git
.git
.gitignore

docker-compose.yml
docker-compose.dev.yml
docker-compose.prod.yml

db/consultas/

*.log
*.tmp
*.swp
*.swo
*~

.DS_Store
Thumbs.db
.vscode/
.idea/
*.iml

node_modules/
npm-debug.log

# Arquivos de ambiente
.env
.env.local

